<header>
  <div class="wrapper">
    <div class="logo">
      <div class="logoMark"></div>
      <h1><a href="#">Simple Design System</a></h1>
    </div>
    <nav>
      <ul>
        <li><a class="wrapper" href="https://github.com/glenn-sorrentino/design-system/blob/main/components/header/html/header.html" target="_blank" rel="noopener noreferrer">View Code</a></li>
        <li><a class="wrapper" href="#section2">Section 2</a></li>
        <li><a class="wrapper" href="#section3">Link 3</a></li>
        <li><a class="wrapper" href="#section4">Link 4</a></li>
        <li><button class="btn primaryBtn btnLrg" href="#contact">Primary Button</button></li>
      </ul>
      <a class="mobileNav btnIcon"></a>
    </nav>
  </div>
</header>
