@media (prefers-color-scheme: light) {
  .intro {
    background-color: var(--color-light);
  }

  p.hint {
    color: var(--color-label-lm);
  }
}

@media (prefers-color-scheme: dark) {
  .intro {
    background-color: var(--color-shade-dm);
  }

  p.hint {
    color: var(--color-label-dm);
  }
}

.intro {
  height: 100vh;
  align-items: center;
}

.intro h2 {
  width: 80%;
}

.intro p:last-of-type {
  margin-bottom: 0;
}

p.hint {
  position: absolute;
  bottom: var(--spacing-base);
  margin-bottom: 0 !important;
  transform: translate(-50%, -50%);
  left: 50%;
  font-size: var(--font-size-xsmall) !important;
  font-weight: bold;
  animation: floating 3s ease infinite;
  max-width: max-content !important;
  transition: .3s;
}

p.hint a {
  text-decoration: none;
}

.fade {
  opacity: 0 !important;
}

@media only screen and (max-width: 768px) {
  .intro h2 {
    width: 100%;
  }
}
