@media (prefers-color-scheme: light) {
  .banner {
    background-color: #019ec3 !important;
    font-family: "IBM Sans";
  }

  .banner p, .banner a {
    color: #fff !important;
  }

  .bannerBtn {
    background-image: url('../images/banner/lm-icon-close.png');
  }
}

@media (prefers-color-scheme: dark) {
  .banner {
    background-color: #1f9ec3;
  }

  .banner p, .banner a {
    color: #FFFFFF !important;
  }

  .bannerBtn {
    background-image: url('../images/banner/lm-icon-close.png');
  }
}

.banner {
  padding: var(--spacing-xsmall) 0;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.banner p {
  padding: 0;
  width: fit-content;
  margin: 0 auto;
  font-size: var(--font-size-small);
}

.banner + header {
  top: 40px !important;
}

.banner.hidden + header {
  top: 0px !important;
}

.banner + header ~ div .intro h2 {
  margin-top: 20px !important;
}

.banner.hidden + header ~ div .intro h2 {
  margin-top: 0px !important;
}

.banner + header ~ div .intro iframe {
  margin-top: 20px !important;
}

.banner.hidden + header ~ div .intro iframe {
  margin-top: 0px !important;
}

.bannerBtn {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: var(--spacing-large);
  height: var(--spacing-large);
  margin-right: var(--spacing-medium);
}

@media only screen and (max-width: 768px) {
  .bannerBtn {
    margin-right: var(--spacing-base);
  }

  .banner p {
    margin: 0 auto;
  }

  .banner.hidden + header ~ div .intro iframe {
    margin-top: 20px !important;
  }

}

@media only screen and (max-width: 480px) {
  .bannerBtn {
    margin-right: var(--spacing-large);
  }

  .banner p {
    margin: 0 auto 0 var(--spacing-medium);
    font-size: calc(var(--font-size-small) * 1);
  }

  .banner {
    padding-left: var(--spacing-base) ;
    padding-right: var(--spacing-small) ;
  }

}

@media only screen and (max-width: 420px) {
  .banner p {
    font-size: calc(var(--font-size-small) * .9);
    margin: 0 auto 0 var(--spacing-base);
  }

  .banner {
  }
}
