<section id="section4">
  <div class="wrapper">
    <h3>Personal Section</h3>
    <div class="description">
      <img class="avatar" src="design-system/images/placeholder/circle.png" alt="Unless the image is decorative, add alt text 12.">
      <p>Drops of rain could be heard hitting the pane, which made him feel quite sad. "How about if I sleep a little bit longer and forget all this nonsense", he thought, but that was something he was unable to do because he was used to sleeping on his right, and in his present state couldn't get into that position.</p>
      <p><a href="https://github.com/glenn-sorrentino/design-system/blob/main/components/content/html/about.html" target="_blank" rel="noopener noreferrer">View Component Code</a>
    </div>
  </div>
</section>
