<section id="section2">
  <div class="wrapper">
    <h3>Secondary Section</h3>
    <div class="description">
      <img class="icon" src="design-system/images/placeholder/circle.png" alt="Unless the image is decorative, add alt text 6.">
      <h4><a href="#" target="_blank" rel="noopener noreferrer">Linked Headline</a></h4>
      <p class="meta">Metadata</p>
      <p>His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. </p>
      <p><a href="https://github.com/glenn-sorrentino/design-system/blob/main/components/content/html/description-only.html" target="_blank" rel="noopener noreferrer">View Component Code</a>
    </div>
    <div class="description">
      <img class="icon" src="design-system/images/placeholder/circle.png" alt="Unless the image is decorative, add alt text 7.">
      <h4><a href="#" target="_blank" rel="noopener noreferrer">Linked Headline With a Button</a></h4>
      <p class="meta">December 18, 2021</p>
      <p>"What's happened to me?" he thought. It wasn't a dream.</p>
      <p><a role="button" class="btn smBtn" href="#" target="_blank" rel="noopener noreferrer">Secondary Button</a>
    </div>
    <div class="description">
      <img class="icon" src="design-system/images/placeholder/circle.png" alt="Unless the image is decorative, add alt text 8.">
      <h4><a href="#" target="_blank" rel="noopener noreferrer">A Longer and Super Compelling Headline for an Article</a></h4>
      <p class="meta">By Art Vandelay</p>
      <p>His room, a proper human room although a little too small, lay peacefully between its four familiar walls.</p>
    </div>
  </div>
</section>
