<section id="section1">
  <div class="wrapper">
    <h3>Featured Section</h3>
    <div class="group">
      <div class="description">
        <img class="icon" src="design-system/images/placeholder/circle.png" alt="Unless the image is decorative, add alt text.">
        <h4>Feature Headline</h4>
        <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin.</p>
        <p><a href="https://github.com/glenn-sorrentino/design-system/blob/main/components/content/html/content-group.html" target="_blank" rel="noopener noreferrer">View Component Code</a>
      </div>
      <img src="design-system/images/placeholder/image.png" alt="Unless the image is decorative, add alt text 1.">
    </div>
    <div class="group">
      <div class="description flip">
        <img class="icon" src="design-system/images/placeholder/circle.png" alt="Unless the image is decorative, add alt text 2.">
        <h4>Item With Metadata</h4>
        <p class="meta">🏅 <a href="#" target="_blank"  rel="noopener noreferrer">Linked Metadata</a></p>
        <p>He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
      </div>
      <img src="design-system/images/placeholder/image.png" alt="Unless the image is decorative, add alt text 3.">
    </div>
    <div class="group">
      <div class="description">
        <img class="icon" src="design-system/images/placeholder/circle.png" alt="Unless the image is decorative, add alt text 4.">
        <h4>Mobile Feature Headline</h4>
        <p>The bedding was hardly able to cover it and seemed ready to slide off any moment.</p>
      </div>
      <div class="mobileImageContainer">
        <img src="design-system/images/placeholder/mobile.png" alt="Unless the image is decorative, add alt text 5.">
      </div>
    </div>
  </div>
</section>
