<section id="section3">
  <div class="wrapper">
    <h3>Tertiary Section</h3>
    <div class="groupRow">
      <div class="description">
        <img class="icon" src="design-system/images/placeholder/circle.png" alt="Unless the image is decorative, add alt text 9.">
        <h4>Important Info but Lower Priority</h4>
        <p>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.</p>
        <p><a href="https://github.com/glenn-sorrentino/design-system/blob/main/components/content/html/content-row.html" target="_blank" rel="noopener noreferrer">View Component Code</a>
      </div>
      <div class="description">
        <img class="icon" src="design-system/images/placeholder/circle.png" alt="Unless the image is decorative, add alt text 10.">
        <h4>Shorter Headlines Work Better</h4>
        <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer.</p>
      </div>
      <div class="description">
        <img class="icon" src="design-system/images/placeholder/circle.png" alt="Unless the image is decorative, add alt text 11.">
        <h4>Headline</h4>
        <p>Gregor then turned to look out the window at the dull weather.</p>
      </div>
    </div>
  </div>
</section>
