<section id="contact">
  <div class="wrapper">
    <h3>Section Heading</h3>
    <div class="description">
      <p>However hard he threw himself onto his right, he always rolled back to where he was. He must have tried it a hundred times, shut his eyes so that he wouldn't have to look at the floundering legs, and only stopped when he began to feel a mild, dull pain there that he had never felt before.</p>
      <ul>
        <li>🧑‍💻&nbsp;&nbsp;<a href="https://github.com/glenn-sorrentino/design-system/blob/main/design-system/components/content/html/contact.html" target="_blank" rel="noopener noreferrer">View Component Code</a></li>
        <li>💻&nbsp;&nbsp;<a href="https://validator.w3.org/nu/?doc=https%3A%2F%2Fglenn-sorrentino.github.io%2Fdesign-system%2F" target="_blank" rel="noopener noreferrer">HTML Validator</a></li>
        <li>🎨&nbsp;&nbsp;<a href="https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fglenn-sorrentino.github.io%2Fdesign-system%2F&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=en" target="_blank" rel="noopener noreferrer">CSS Validator</a></li>
        <li>🦮&nbsp;&nbsp;<a href="https://wave.webaim.org/report#/https://glenn-sorrentino.github.io/design-system/" target="_blank" rel="noopener noreferrer">WAVE Accessibility Tool</a></li>
      </ul>
    </div>
  </div>
</section>
