.headingOne{
    @apply col-start-13 col-end-10 text-right text-3xl sm:text-5xl md:text-6xl;

    /* applying BOLD to font */
    font-family: 'IBM Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('IBM Sans'),
    url(../assets/fonts/sans/IBMPlexSansArabic-Bold.woff2) format('trueType');

    color: #FFFDED;
}

.headingTwo{
    @apply text-right text-3xl sm:text-5xl md:text-6xl;

   /* applying Medium to font */
   font-family: 'IBM Sans';
   font-style: normal;
   font-weight: 500;
   font-display: swap;
   src: local('IBM Sans'),
   url(../assets/fonts/sans/IBMPlexSansArabic-Bold.woff2) format('trueType');
   margin: 0rem 0rem 2rem 0;

   color: #FFFDED !important;
}