@font-face {
  font-family: 'IBM Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('IBM Sans'),
    url(../assets/fonts/sans/IBMPlexSansArabic-Thin.woff2) format('trueType');
}

@font-face {
  font-family: 'IBM Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('IBM Sans'),
    url(../assets/fonts/sans/IBMPlexSansArabic-Light.woff2) format('trueType');
}

@font-face {
  font-family: 'IBM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Sans'),
    url(../assets/fonts/sans/IBMPlexSansArabic-Regular.woff2) format('trueType');
}

@font-face {
  font-family: 'IBM Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('IBM Sans'),
    url(../assets/fonts/sans/IBMPlexSansArabic-Medium.woff2) format('trueType');
}

@font-face {
  font-family: 'IBM Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('IBM Sans'),
    url(../assets/fonts/sans/IBMPlexSansArabic-SemiBold.woff2)
      format('trueType');
}

@font-face {
  font-family: 'IBM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('IBM Sans'),
    url(../assets/fonts/sans/IBMPlexSansArabic-Bold.woff2) format('trueType');
}

@media (prefers-color-scheme: light) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: var(--color-dark);
  }

  p.meta {
    color: var(--color-label-lm);
  }

  p.meta a {
    color: var(--color-label-lm);
  }

  ul li {
    color: var(--color-dark);
  }

  .code {
    color: #e83e8c;
    background-color: var(--color-shade-lm);
    border: var(--border-dark);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-dark);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: var(--color-light);
  }

  p.meta {
    color: var(--color-label-dm);
  }

  p.meta a {
    color: var(--color-label-dm);
  }

  ul li {
    color: var(--color-light);
  }

  .code {
    color: #ee72ac;
    background-color: var(--color-shade-dm);
    border: var(--border-light);
  }
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: var(--line-height-heading);
}

h2 {
  font-size: var(--font-size-1);
}

h3 {
  font-size: var(--font-size-2);
  margin: var(--spacing-xxlarge) 0 var(--spacing-base) 0;
}

h4 {
  font-size: var(--font-size-3);
  margin: var(--spacing-xxlarge) 0 var(--spacing-small) 0;
}

h5 {
  font-size: var(--font-size-4);
  margin: var(--spacing-xlarge) 0 var(--spacing-small) 0;
}

h6 {
  font-size: var(--font-size-5);
  margin: var(--spacing-large) 0 var(--spacing-small) 0;
}

p {
  max-width: 640px;
  line-height: var(--line-height-base);
  margin: var(--spacing-base) 0;
}

p.meta {
  margin: var(--spacing-small) 0 var(--spacing-xsmall) 0 !important;
  font-size: var(--font-size-xsmall);
}

h1 .emoji,
h2 .emoji,
h3 .emoji,
h4 .emoji,
h5 .emoji,
h6 .emoji {
  display: block;
  margin-bottom: var(--spacing-small);
}

.center h1,
.center h2,
.center h3,
.center h4,
.center h5,
.center h6 {
  text-align: center;
}

.code {
  padding: var(--spacing-xxsmall) var(--spacing-xsmall);
  border-radius: var(--radius-soft);
  font-family: monospace;
  width: max-content !important;
  font-size: var(--font-size-small);
}

@media only screen and (max-width: 1440px) {
  h2 {
    font-size: calc(var(--font-size-1) * 0.9);
  }

  h3 {
    font-size: calc(var(--font-size-2) * 0.9);
    margin: var(--spacing-xxlarge) 0 var(--spacing-base) 0;
  }

  h4 {
    font-size: calc(var(--font-size-3) * 0.9);
    margin: calc(var(--spacing-xxlarge) * 0.9) 0 var(--spacing-small) 0;
  }

  h5 {
    font-size: calc(var(--font-size-4) * 0.9);
  }

  h6 {
    font-size: calc(var(--font-size-5) * 0.9);
  }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: calc(var(--font-size-1) * 0.8);
  }

  h3 {
    font-size: calc(var(--font-size-2) * 0.8);
    margin: var(--spacing-xxlarge) 0 var(--spacing-base) 0;
  }

  h4 {
    font-size: calc(var(--font-size-3) * 0.8);
    margin: calc(var(--spacing-xxlarge) * 0.8) 0 var(--spacing-small) 0;
  }

  h5 {
    font-size: calc(var(--font-size-4) * 0.8);
  }

  h6 {
    font-size: calc(var(--font-size-5) * 0.8);
  }
}

@media only screen and (max-width: 480px) {
  h2 {
    font-size: calc(var(--font-size-1) * 0.6);
  }
}
